$primary-color: #ff4757;
$secondary-color: lightgreen;
$font-size-large: 70px;
$font-size-medium: 40px;
$font-size-small: 18px;
$cell-size: 100px;
$container-width: 225px;
$button-width: 150px;
$button-height: 40px;
$border-width: 2px;
$border-radius: 10px;