.square{
    width: 75px;
    height: 75px;
    border: 1px solid;
    box-shadow: 0 0 0 1px;
    line-height: 75px;
    cursor: pointer;
    font-size: 50px;
}
#squareContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#board{
    text-align: center;
}
h1{
    background-color: red;
    animation-name: fun;
    animation-duration: 50s;
}
@keyframes fun {
    0% {background-color: red;}
    20% {background-color: yellow;}
    40% {background-color: blueviolet;}
    60% {background-color: blue;}
    80% {background-color: gold;}
    100% {background-color: green;}
}